/* ---------------------------- Texto de terminal--------------------------------- */

.terminal {
	/* margin-top: ; */
	display: block;
	font-family: monospace;
	font-size: 2rem;
	white-space: nowrap;
	border-right: 2px solid;
	border-color: transparent;

	overflow: hidden;
	padding-top: -1rem;
}

.bhw {
	width: 15ch;
}
.hw {
	animation: typing 2.5s steps(12), blink 0.5s infinite step-end alternate;
}

.im {
	overflow: hidden;
	width: 10ch;
	animation: typing 2.5s steps(10), blink 0.5s infinite step-end alternate;
	animation-delay: 0, 5s;
}

.hidde {
	width: 0;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: black;
	}
}

/* -------------------------------------Foto-------------------------- */

.photo {
	width: 25vw;
	animation: borderChanging 6s infinite ease-in-out alternate;
	/* box-shadow: inset 0 0 0 #000000; */
	box-shadow: 1rem 0.24rem 1rem #6b9ac4;
}

@keyframes borderChanging {
	0% {
		border-radius: 148px 44% 40% 83% / 148px 44% 26% 71%;
	}
	100% {
		border-radius: 98% 50% 100% 49% / 100% 50% 81% 22%;
		translate: 0 -3rem;
	}
}

/* ------------------------- Colombia's Flag ---------------------- */

.country {
	position: relative;
	top: 3rem;
	width: 2rem;
	border-radius: 10rem;
}

/* -------------------Redes sociales------------------------ */
.RedesSociales:hover {
	scale: 1.1;
	background-color: #97d8c4;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	transition: all 0.25s;
}

.RedesSociales {
	scale: 1;
	padding: 0;
	transition: all 0.25s;
}
