/* ---------------------------- Texto de terminal--------------------------------- */

.terminal {
	/* margin-top: ; */
	display: block;
	font-family: monospace;
	font-size: 2rem;
	white-space: nowrap;
	border-right: 2px solid;
	border-color: transparent;

	overflow: hidden;
	padding-top: -1rem;
}

.bhw {
	width: 15ch;
}
.hw {
	animation: typing 2.5s steps(12), blink 0.5s infinite step-end alternate;
}

.im {
	overflow: hidden;
	width: 10ch;
	animation: typing 2.5s steps(10), blink 0.5s infinite step-end alternate;
	animation-delay: 0, 5s;
}

.hidde {
	width: 0;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: black;
	}
}

/* -------------------------------------Foto-------------------------- */

.photo {
	width: 50%;
	animation: borderChanging 6s infinite ease-in-out alternate;
	/* box-shadow: inset 0 0 0 #000000; */
	box-shadow: 1rem 0.24rem 1rem #6b9ac4;
}

@keyframes borderChanging {
	0% {
		border-radius: 148px 44% 40% 83% / 148px 44% 26% 71%;
	}
	100% {
		border-radius: 98% 50% 100% 49% / 100% 50% 81% 22%;
		translate: -3rem;
	}
}
